<div class="auth-page">

    <div class="auth-container">

        <div class="auth-left">

            <img
                src="/assets/images/reset-password.png"
                alt="Reset Password">

        </div>

        <div class="auth-right">

            <h1>Reset</h1>

            <h2>Password</h2>

            <p>

                Create a strong password to secure your account.

            </p>

            <form [formGroup]="resetForm">

                <div class="form-group">

                    <input
                        type="password"
                        placeholder="New Password"
                        formControlName="password">

                </div>

                <div class="form-group">

                    <input
                        type="password"
                        placeholder="Confirm Password"
                        formControlName="confirmPassword">

                </div>

                <button

                    class="auth-btn"

                    type="button"

                    (click)="resetPassword()">

                    Update Password

                </button>

            </form>

        </div>

    </div>

</div>