<div class="container">

  <div class="app-card">

    <h2>Customers</h2>

    <button
      class="btn-primary"
      [disabled]="user.role !== 'HR'"
      [ngClass]="{'disabled-button': user.role !== 'HR'}"
      (click)="openAddModal()">

      Add Customer

    </button>

    <br><br>
    <input
  type="text"
  class="form-control"
  [(ngModel)]="search"
  (input)="onSearch()"
  placeholder="Search customer by name, email or city">

<button
  class="btn-secondary"
  *ngIf="search"
  (click)="clearSearch()">

  Clear

</button>
<br><br>

<div class="mob-table">
      <table border="1" class="app-table">

      <thead>

        <tr>

          <th>Name</th>
          <th>Email</th>
          <th>Age</th>
          <th>City</th>
          <th>Action</th>

        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let customer of customers">

          <td>{{customer.name}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.age}}</td>
          <td>{{customer.city}}</td>

          <td>

            <button
              class="btn-primary"
              (click)="openEditModal(customer)">

              Edit

            </button>&nbsp;

            <button
              class="btn-danger"
              (click)="openDeleteModal(customer._id)">

              Delete

            </button>

          </td>

        </tr>

      </tbody>

    </table>
</div>

    <div class="pagination">

      <button
        class="btn-secondary"
        (click)="prevPage()">

        Previous

      </button>

      Page {{page}}

      <button
        class="btn-secondary"
        (click)="nextPage()">

        Next

      </button>

    </div>

  </div>

</div>

<!-- Modal -->

<div
  class="modal-backdrop"
  *ngIf="showModal">

  <div class="modal">

    <app-customer-form

      [customer]="selectedCustomer"

      (close)="closeModal()"

      (saved)="customerSaved()">

    </app-customer-form>

  </div>

</div>
<app-confirmation-modal

    [visible]="showDeleteModal"

    title="Delete Customer"

    message="Are you sure you want to delete this customer?"

    (confirm)="deleteCustomer()"

    (cancel)="closeDeleteModal()">

</app-confirmation-modal>